*{
    margin: 0px;
    font-family: "inter";
}

#titulo-menusuperior{
    
    color: #ffff;
    font-size: 60px;
    margin-top: 120px;
    margin-left: 60px;
}

#texto-menusuperior{
    color: #ffff;
    font-size: 22px;
    margin-left: 62px;
    margin-bottom: 100px;
    padding-top: 15px;
}

#menusuperior{
    background-color: #303030;
    display: grid;
}

#menuinformativo{
    background-color: #f9f9f9;
    display: grid;
    grid-auto-flow: column;
}

.numero{
    height: 35%;
    margin-left: 120px;
    margin-top: 60px;
    margin-bottom: 40px;
}


#secaoinformativo{
}

#titulo-secaoinformativo{
    margin-top: 200px;
    margin-left:100px;
    font-size:37px;
}

#texto-secaoinformativo{
    margin-left: 100px;
    font-size: x-large;
}

#imagem{
    margin-top: -370px;
    margin-bottom: 50px;
    margin-left: 55%;
    height: 510px;
    width: 605px;
}

#formulario{
    background-color: #303030;
    text-align: center;
}

#texto-formulario{
    color: #ffff;
    position: absolute;
    padding-top: 70px;
    margin-left: 32%;
    

}

input{
    background-color: #ffff;
    width: 400px;
    height: 50px;
    margin: 25px;
    border-radius: 6px;
    padding-left: 20px;
    border: 0px;
}
button{
    background-color: #c07212;
    width: 250px;
    height: 50px;
    margin: 50px;
    border-radius: 6px;
    border: 0px;
    color: #ffff;
    margin-bottom: 50px;
    font-size: 22px;
    font-family: raleway;
    font-weight: bolder;
    cursor: pointer;
 }

 button:hover{
    background-color: #c07212;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 10px 15px #2e1a02;
}